.Shade-left__enter {
  opacity: 1;
  left: -100%;
}
.Shade-left__enterActive {
  opacity: 0;
  left: -100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.Shade-left__exit {
  opacity: 0;
  left: -100%;
}
.Shade-left__exitActive {
  opacity: 1;
  left: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.Shade-left__exitDone {
  left: 0;
  opacity: 1;
}
